In [5]:
from IPython.core.magic import (register_line_magic,
                                register_cell_magic)

In [10]:
@register_line_magic
def deep(line):
    if line == 'spanish':
        print("Hola mi amore!")
    else:
        print("Hi boi!")

In [11]:
%deep

Hi boi!

In [12]:
%deep spanish

Hola mi amore!

define and register own magic lines
change:
hello -> deep
french -> spanish
hello world -> hi boi

In [21]:
import pandas as pd
from io import StringIO
@register_cell_magic
def tabelle(line, cell):
      sio = StringIO(cell)
      return pd.read_csv(sio)

In [23]:
%%tabelle
col1,col2,col3
9,8,7
6,5,4
3,2,1

   col1  col2  col3
0     9     8     7
1     6     5     4
2     3     2     1

define  tabelle -> creating a table 
change:
csv -> tabelle
columns numbers reversed

In [24]:
df = _
df.describe()

       col1  col2  col3
count   3.0   3.0   3.0
mean    6.0   5.0   4.0
std     3.0   3.0   3.0
min     3.0   2.0   1.0
25%     4.5   3.5   2.5
50%     6.0   5.0   4.0
75%     7.5   6.5   5.5
max     9.0   8.0   7.0

previous object returned with _

In [34]:
%%writefile csvmagic.py
import pandas as pd
from io import StringIO

def karma(line, cell):
    sio = StringIO(cell)
    return pd.read_csv(sio)

def load_ipython_extension(ipython):
    """This function is called when the extension is
    loaded. It accepts an IPython InteractiveShell
    instance. We can register the magic with the
    `register_magic_function` method of the shell
    instance."""
    ipython.register_magic_function(csv, 'cell')

Overwriting csvmagic.py

use same magic in other notebooks: need IPython extension - first created python script (csvmagic.py); also define special funcion
change:
csv -> karma

In [36]:
%load_ext csvmagic

The csvmagic extension is already loaded. To reload it, use:
  %reload_ext csvmagic

import extension into Python session: %load_ext

In [38]:

%%tabelle
col1,col2,col3
9,8,7
6,5,4
3,2,1

   col1  col2  col3
0     9     8     7
1     6     5     4
2     3     2     1

In [ ]:
change: 
reversed the nunmbers again